// css 樣式初始化
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
}

a {
    text-decoration: none;
    /* 取消文字修飾 */
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
    display: block;
}

img {
    border: none;
}

li {
    list-style: none;
}


//背景 
.wrap {
    width: 80em;
    height: 80em;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    margin: 0 auto;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

//計算機
.computer {
    width: 40em;
    height: 60em;
    background: rgb(237, 175, 175);
}

//畫面
.screen {
    width: 40em;
    height: 10em;
    display: flex;
}

//中間全部的按鈕
.center-button {
    display: flex;

}

//數字按紐匡
.number-button-body {
    width: 30em;
    height: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

//數字按鈕
.number-button {
    width: 8em;
    height: 8em;
    line-height: 8em;
    text-align: center;
    border-radius: 16px;
    align-items: center;
}

//加減乘除按鈕匡
.operation-button-body {
    width: 10em;
    height: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

//加減乘除按鈕
.operation-button {
    width: 8em;
    height: 8em;
    line-height: 8em;
    text-align: center;
    border-radius: 16px;
    align-items: center;
}

.ac-body {
    width: 40em;
    height: 10em;
    display: flex;
    justify-content: space-around;
}

.ac-button {
    width: 8em;
    height: 8em;
    line-height: 8em;
    text-align: center;
    border-radius: 16px;
    align-items: center;
}